/* CSS for 980p */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @media all and (max-width:980px) {
    .header-section{
      display: flex;
    }
    .header1{
      background-image: url('newimg/logo\ bg.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-attachment: scroll;
      overflow: hidden;
      position: absolute;
      padding: 10px 0;
      /* margin-left: 60%;
      margin-top:  9%; */
      height: 500px;
      width: 100%;
      
    }
    .header2{
      background-image: url('newimg/Textlogo.png');
      background-size: 14%;
      background-repeat: no-repeat;
      background-attachment: scroll;
      overflow: hidden;
      position: absolute;
      background-position: 3% 2%;
      height: 500px;
      width: 100%;
      
    }
    .header3{
      background-image: url('newimg/How\ it\ works\ \ \ \ \ FAQ\ \ \ \ \ Testimonials\ \ \ \ \ Contact\ Us\ \ \ \ \ Seller.png');
      background-size: 52%;
      background-repeat: no-repeat;
      background-attachment: scroll;
      overflow: hidden;
      position: absolute;
      background-position: 42% 6%;
      height: 500px;
      width: 100%;
    }
    .header4{
      background-image: url('newimg/Btn1.png');
      background-size: 12%;
      background-repeat: no-repeat;
      background-attachment: scroll;
      overflow: hidden;
      position: absolute;
      background-position: 84% 5%;
      height: 500px;
      width: 100%;
    }
    .btn1{
      background-image: url('newimg/Logintxt.png');
      background-size: 7%;
      background-repeat: no-repeat;
      background-attachment: scroll;
      overflow: hidden;
      position: absolute;
      background-position: 82% 6%;
      height: 500px;
      width: 100%;
    }
    .header5{
      background-image: url('newimg/Btn2.png');
      background-size: 12%;
      background-repeat: no-repeat;
      background-attachment: scroll;
      overflow: hidden;
      position: absolute;
      background-position: 99% 5%;
      height: 500px;
      width: 100%;
    }
    .btn2{
      background-image: url('newimg/Signuptxt.png');
      background-size: 8%;
      background-repeat: no-repeat;
      background-attachment: scroll;
      overflow: hidden;
      position: absolute;
      background-position: 97% 6%;
      height: 500px;
      width: 100%;
    }
    .Amazon{
        background-image: url('newimg/Amazon\ Owes.png');
        background-size: 29%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 3% 27%;
        height: 700px;
        width: 100%;
      }
      .Signup{
        background-image: url('newimg/Sign\ up\ now.png');
        background-size: 30%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 5% 50%;
        height: 700px;
        width: 100%;
      }
      .getBtn{
        background-image: url('newimg/getBtn.png');
        background-size: 15%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 6% 65%;
        height: 700px;
        width: 100%;
      }
      .gettxt{
        background-image: url('newimg/GET\ MY.png');
        background-size: 11%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 7.5% 75%;
        height: 600px;
        width: 100%;
      }
      .HowItWorks-section{
        display: flex;
      }
      .bg2{
        background-image: url('newimg/bg2.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 0% 100%;
        height: 900px;
        width: 100%;
      }
      .Discover{
        background-image: url('newimg/Discover\ today\ .png');
        background-size: 28%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 8% 85%;
        height: 900px;
        width: 100%;    
      }
       .getStarted{
        background-image: url('newimg/GET\ STARTED.png');
        background-size: 15%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 14% 95%;
        height: 900px;
        width: 100%;
      }
      
      .LostDamaged{
        background-image: url('newimg/Lost&damaged.png');
        background-size: 35%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 80% 75%;
        height: 900px;
        width: 100%;
      }
      .Refund{
        background-image: url('newimg/refund&mishandled.png');
        background-size: 35%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 80% 87.5%;
        height: 900px;
        width: 100%;
      }
      .LostInbound{
        background-image: url('newimg/Lost&Inbound.png');
        background-size: 35%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 80% 95%;
        height: 900px;
        width: 100%;
      }
      
      .WhyChoose-section{
        display: flex;
        
      }
      .whyBg{
        background-image: url('newimg/rectangle14new.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 0% 105%;
        height: 1300px;
        width: 100%;
        
      }
      .whytxt{
        background-image: url('newimg/Why\ choose\ us.png');
        background-size: 28%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 8% 75%;
        height: 1300px;
        width: 100%;
       
      }
       
      .EasyQuick{
        background-image: url('newimg/Easy\,\ Quick\ .png');
        background-size: 38%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 10% 97%;
        height: 1300px;
        width: 100%;
      }
      
      .SetAppointment{
        background-image: url('newimg/SET\ AN\ APPOINTMENT.png');
        background-size: 48%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 100% 100%;
        height: 1300px;
        width: 100%;
      } 
      
      .OurTools-section{
        display: flex;
      }
      .ourBg{
        background-image: url('newimg/Our\ Tools1.png');
        background-size: 105%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 100% 98%;
        height: 1690px;
        width: 100%;
  
      }
      .item1{
        background-image: url('newimg/Item1.png');
        background-size: 25%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 5% 98%;
        height: 1690px;
        width: 100%;
      }
      .item2{
        background-image: url('newimg/Item2.png');
        background-size: 25%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 35% 98%;
        height: 1690px;
        width: 100%;
      }
    .item3{
        background-image: url('newimg/Item3.png');
        background-size: 25%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 65% 98%;
        height: 1690px;
        width: 100%;
      }
      .item4{
        background-image: url('newimg/Item3.png');
        background-size: 25%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 95% 98%;
        height: 1690px;
        width: 100%;
      }
      .Clients-section{
        display: flex;
        /* height: 4px;
        /* width: 100%;  */
      }
      .framebg{
        background-image: url('newimg/Frame2.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 0% 94%;
        height: 2100px;
        width: 100%;
      }
      .whyChoose{
        background-image: url('newimg/What\ our\ clients\ say.png');
        background-size: 70%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 25% 84%;
        height: 2100px;
        width: 100%;
      }
      .moreTestimonials{
        background-image: url('newimg/more\ testimonials1.png');
        background-size: 25%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 78% 84%;
        height: 2100px;
        width: 100%;
      }
      .layerBg{
        background-image: url('newimg/layer.png');
        background-size: 20%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 100% 87%;
        height: 2100px;
        width: 100%;
      }
      .star1{
        background-image: url('newimg/star1.png');
        background-size: 23%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 6% 97%;
        height: 2100px;
        width: 100%;
      }
      .star2{
        background-image: url('newimg/star2.png');
        background-size: 21%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 37% 95%;
        height: 2100px;
        width: 100%;
      }
      .star3{
        background-image: url('newimg/star3.png');
        background-size: 21%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 60% 95%;
        height: 2100px;
        width: 100%;
      } 
      .star4{
        background-image: url('newimg/star4.png');
        background-size: 24.6%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 87.3% 94%;
        height: 2100px;
        width: 100%;
      }
      .Registration-section{
        display: flex;
        /* height: 5000px;
        width: 100%; */
        
      }
      .framecopy{
        background-image: url('newimg/Frame\ copy1.png');
        background-size: 130%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 77.5% 92.3%;
        height: 2700px;
        width: 100%;
      }
      .register{
        background-image: url('newimg/promo\ code\ icon1.png');
        background-size: 30%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 80% 89%;
        height: 2700px;
        width: 100%;
      }
      .Latest-section{
        display: flex;
      }
      .sellerHelp{
        background-image: url('newimg/latest.png');
        background-size: 90%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 50%  88%;
        height: 2950px;
        width: 100%;
        /* background-color: red; */
      }
      .items{
        background-image: url('newimg/Items.png');
        background-size: 120%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 50%  98%;
        height: 2950px;
        width: 100%;
      }
      .Footer{
        display: flex;
      }
      .newsletter{
        background-image: url('newimg/Newsletter3.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 0%  100%;
        height: 3200px;
        width: 100%;
     /* background-color: red; */
      }
      .SNS{
        background-image: url('newimg/Follow\ us.png');
        background-size: 15%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;
        position: absolute;
        background-position: 90%  94.5%;
        height: 3200px;
        width: 100%;
      }

    }
body{
    
  /* background-size: 480px;  */
  /* background-color: blue; */
}
.background-section{
  display: flex;
  
}
.background1{
  background-image: url('newimg/Layer\ 10.png');
  background-size: 90%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  overflow: hidden;
  position: relative;
  background-position: 0% 0%;
  height: 3200px;
  width: 100%;
}
.background2{
  background-image: url('newimg/bg.png');
  background-size: 90%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  overflow: hidden;
  position: relative;
  background-position: 0% 0%;
  height: 3200px;
  width: 100%;
}

/* ============================================== */
